.header {
  font-family: "Nunito Sans", sans-serif;
}

.card-title {
  font-family: "Nunito Sans", sans-serif;
}

.card-body {
  font-family: "Nunito", sans-serif;
}

.social-media-fb:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
  text-decoration: none;
}

.social-media-tw:hover {
  background-color: #007bff;
  border-color: #007bff;
  text-decoration: none;
}

.social-media-sp:hover {
  background-color: #28a745;
  border-color: #28a745;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */