$nunito-sans: 'Nunito Sans', sans-serif;
$nunito: 'Nunito', sans-serif;
$secondary: #6c757d;
$light: #f8f9fa;
$tw-color: #007bff;
$fb-color: #17a2b8;
$sp-color: #28a745;

@mixin social-media-hover($color){
    background-color: $color;   
    border-color: $color;
    text-decoration: none;
}

.header{
    font-family: $nunito-sans;
}

.card-title{
    font-family: $nunito-sans;
}

.card-body{
    font-family: $nunito;
}

.social-media-fb:hover{
    @include social-media-hover($fb-color);
}


.social-media-tw:hover{
    @include social-media-hover($tw-color);
}


.social-media-sp:hover{
    @include social-media-hover($sp-color);
}